* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: black;
  background-image: linear-gradient( darkblue, darkblue 48%, darkblue);
}

h1{
  color: white;
}
h2 {
  color: white;
}
h3 {
  color: white;
}
a{
  color: yellow;
}
.auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 5rem;
    border: 1px solid blueviolet;
    border-radius: 10px;
    margin: 0.5rem;
  }
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;

}

select {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;

}

.loginButton {
  font-family: 'Poppins';
  color: black !important;
  text-transform: uppercase;
  font-weight: bolder;
  text-decoration: none;
  background: yellow;
  padding: 1rem;
  border-radius: 10px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}


.registerButton {
  font-family: 'Poppins';
  color: black !important;
  text-transform: uppercase;
  font-weight: bolder;
  text-decoration: none;
  background: yellow;
  padding: 1rem;
  border-radius: 10px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}

/* NavBar stying */

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.logo {
  font-family: "Permanent Marker", cursive;
  font-size: 3rem;
  /* color: deeppink; */
  margin: 0;
  line-height: 1;
}

.Nav {
  display: flex;
  gap: 4px;
  position: absolute;
  right: 8px;
}