* {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

.App {
  min-height: 100vh;
}

h1 {
  color: white;
}

h2 {
  color: white;
}
.text {
  color: #ffdb3b;
}

h3 {
  color: white;
}
h4 {
  color: white;
  margin-bottom: 20px;
}
h5 {
  color: #ffdb3b;
  margin-bottom: 20px;
  text-align: left;
}
p {
  /* color: white; */
  text-align: left;
  font-size: 0.83em;
}
#word {
  color: #ffdb3b;
}

a {
  color: #ffdb3b;
  text-decoration: none;
}

.login-form,
.register-form,
.payment-form,
.identity-form,
.verification-form {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 40%;
  background-color: #020566;
  margin: auto;
  border-radius: 10px;
}

.form-details {
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 90%;
  padding: 2rem;
  margin: auto;
}

.form-details > h1 {
  margin-bottom: 2rem;
}

@media screen and (max-width: 600px) {
  .form-container {
    padding: 5rem;
    border: 1px solid blueviolet;
    border-radius: 10px;
    margin: auto;
  }
}

input {
  display: block;
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

select {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

.navButton {
  color: black;
  /* text-transform: uppercase; */
  font-weight: bolder;
  text-decoration: none;
  background: #ffdb3b;
  padding: 1rem 2rem;
  border-radius: 10px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  cursor: pointer;
  margin: 0 1rem;
}

.formButton {
  /* font-family: 'Poppins'; */
  color: black !important;
  text-transform: uppercase;
  font-weight: bolder;
  text-decoration: none;
  background: #ffdb3b;
  padding: 1rem;
  border-radius: 10px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 2rem;
  cursor: pointer;
}

/* NavBar stying */

.wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  display: flex;
  padding: 1rem;
  background-color: #020566;
  /* width: 100% */
}

.logo {
  font-family: "Permanent Marker", cursive;
  font-size: 3rem;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
}

.notifications {
  position: relative;
  margin: 0 2rem 0 0;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}
.total_notifications {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 0.9rem;
  font-weight: 500;
  width: 1rem;
  height: 1rem;
  background-color: red;
  color: #ffdb3b;
  padding: 2px;

  border-radius: 50%;

  top: 1.4rem;
  left: 1rem;
}

.user_prof {
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: white;
  font-weight: 900;
  cursor: pointer;
}
.user_image {
  position: relative;
  margin: 0 0.325rem 0 0;
  width: 2.5rem;
  height: 2.5rem;
}

.user_image img {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid red;
  object-fit: cover;
}

/* card */
.container{
 
  margin-left: 100px;
  padding-left: 190px;
  display: flex; 
  flex-wrap: wrap;
  align-items: center;
 }

.card
{
border: 1px solid black;
height: 300px;
margin-top: 180px;
width: 180px;
float: left;
background-color: white;
margin-left: 32px;
border-radius: 10px; 
}